# print output

In [1]:
#python is csae sensitive
print("Hello World")

Hello World

In [2]:
print("amit",19,True)

amit 19 True

In [3]:
print("amit",19,True,sep='/')

amit/19/True

In [4]:
print("amit" ,end='_')
print("amritansh")

amit_amritansh

# data type

In [5]:
#integer
print(8)

8

In [6]:
#decimal
print(8.55)

8.55

In [7]:
#boolean
print(True)

True

In [8]:
#text/string
print("hii amit")

hii amit

In [9]:
#complex
print(5+6j)

(5+6j)

In [10]:
#list
print([1,3,2,4,56,5])

[1, 3, 2, 4, 56, 5]

In [11]:
#tuple
print((1,2,3,5,6,4,6))

(1, 2, 3, 5, 6, 4, 6)

In [12]:
#sets
print({1,2,3,4,6,5,7,4})

{1, 2, 3, 4, 5, 6, 7}

In [13]:
#dictonary
print({
    'name':'amit','gender':'male','weight':70
})

{'name': 'amit', 'gender': 'male', 'weight': 70}

In [14]:
#type
type(3)

int

# variables

In [15]:
a=5
b=6
print(a+b)

11

In [16]:
#dynamic typing
#donot tell the data type of a variable
a=5
#static typing
#int a=5

In [17]:
#dynamic binding change the datatype
a=5
print(a)
a='amit'
print(a)
#static binding where we cannot change the data type
a=5

5
amit

# keywords and identifier

In [18]:
#keywords
#what we suggest the name is known as identifier
#identifiers cannot be keywords

# user input

In [19]:
#static vs dynamic
#static cannnot talk to user it only gives information
#dynamic can talk to user and gives input

In [20]:
input('apna naam batao')

apna naam bataoamit

'amit'

In [21]:
#take input from user and store them in a variable
x=int(input("enter first no"))
#add the 2 variables
y=int(input("enter second no"))
result=x+y
#print the result
print(result)

enter first no4
enter second no4
8

# literals

In [22]:
#binary
a=0b1010
print(a)

10

In [23]:
b=100#decimal literal
c=0o310#octal literal
d=0x12c#hexadecimal literal
#float literal
float_1=10.5
float_2=1.5e2#1.5*10^2
float_3=1.5e-3#1.5*10^-3

#complex literal
x=3.14j

In [24]:
#bitwise operator
#and
print(2&3)
#or
print(2&4)
#xor
print(2^3)
#not conver 1 to 0 and 0 to 1
print(~3)

2
0
1
-4

In [25]:
#membership operator
print('d' in 'delhi')
print('d' not in 'delhi')

True
False

In [26]:
x=int(input("enter the three digit sum"))
y=x%10
print(y)
z=x//10
print(z)
a=z%10
print(a)
b=z//10

c=b%10
print(c)
print("the sum of three digit that you entered is",y+a+c)

enter the three digit sum123
3
12
2
1
the sum of three digit that you entered is 6

# if else in python

In [27]:
x=input("enter email")
y=input('enter password')

if x=='amitkumar@iipe.ac.in' and y=='amitkrr':
    print("welcome to world of data analytics")
elif  x=='amitkumar@iipe.ac.in' and y!='amitkrr':
    print("incorrect password")
    y=input("enter password again")
    if y=='amitkrr':
        print("welcome to world of data analytics")
    else:
        print ("beta tumse na ho payega")
    
else:
    print("Error try again")

enter emailamitkumar@iipe.ac.in
enter passwordamitkrr
welcome to world of data analytics

In [28]:

x=int(input("enter first no."))
y=int(input("enter second no."))
z=int(input("enter third no."))
if x>y and x>z:
    print("x is greater no among all three no")
elif y>x and y>z:
    print("y is greater no among all three no")
elif x==y and y==z and z==x :
    print("all no are same ")
else: 
    print('z is greater among three no')

enter first no.4
enter second no.6
enter third no.5
y is greater no among all three no

In [29]:
#menu driven calculator
x= int(input("enter the first no for operation"))
y=int(input("enter the second no for operation"))
ask= input("enter optertion that you want to perform")
if ask=='+':
    print("the sum of no is\n",x+y)
elif ask=='-':
    print("the subtraction of no is", x-y)
elif ask=='*':
    print("the multiplication of no is",x*y)
elif ask=='/':
    print("the division of no is",x/y)
else:
    print("sorry!\n i can only perform simple operation DMAS")

enter the first no for operation4
enter the second no for operation6
enter optertion that you want to perform*
the multiplication of no is 24

In [38]:
import math

In [39]:
math.sqrt(25)

5.0

In [40]:
import keyword

In [41]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [42]:
import random

In [43]:
random.uniform(7,6)

6.968230253046935

In [44]:
import datetime

In [45]:
date()

NameError: name 'date' is not defined

In [ ]:
help('modules')

In [1]:
number=int(input("enter the no to get its table:\n"))
i=1
while i<21:
    print(number,'*',i,'=', number*i)
    i=i+1

enter the no to get its table:
2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [ ]:
x=1
while x<4:
    print(x)
    x=x+1
else:
    print('limit cross')

In [ ]:
import random

In [ ]:
jackport=random.randint(1,100)
count=1
guess=int(input("enter the guessing no\n"))
while guess!=jackport:
    if guess<jackport:
        print("no is too low than jacport,please try again")
    else:
        print('no is too high')
        guess=int(input("enter the guessing no\n"))
        count=count+1
    
else:
        print("congrats you guess right no",count)

In [ ]:
for i in range(1,11):
    print (i)

In [47]:
current=10000
for i in range(10,0,-1):
    print(i,current)
    current=current/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845